/* 메인 컨테이너 */
.container {
  max-width: 375px; /* 모바일 화면 폭 */
  margin: 0 auto; /* 페이지 중앙 배치 */
  padding: 16px; /* 내부 여백 */
  box-sizing: border-box;
  background-color: #fff; /* 배경색 */
}
.editContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .titleInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .contentInput {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .imageContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .updateButton {
    padding: 10px;
    background-color: #0D77E0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  