/* 메인 컨테이너 */
.container {
  max-width: 375px; /* 모바일 화면 폭 */
  margin: 0 auto; /* 페이지 중앙 배치 */
  padding: 16px; /* 내부 여백 */
  box-sizing: border-box;
  background-color: #fff; /* 배경색 */
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titleSection {
  display: flex;
  flex-direction: column;
  gap: 5px; /* 제목과 날짜 사이 간격 */
  margin-bottom: 16px; /* 제목 아래 여백 */
}
.title {
  font-size: 2rem;
  font-weight: bold;
}

.authorInfo {
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 가운데 정렬 */
  margin-bottom: 16px; /* 하단 여백 */
  font-weight: bold;
  font-size: 1.1rem; /* 닉네임 폰트 크기 */
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* 프로필 이미지 원형 */
  object-fit: cover;
}

.authorDetails {
  margin-left: 10px; /* 프로필 이미지와 닉네임 간 간격 */
  font-size: 1rem; /* 닉네임 및 티어 폰트 크기 */
}

/* 수정 및 삭제 버튼 스타일 */
.actions {
  display: flex;
  gap: 8px; /* 버튼 사이 간격 */
  margin-left: auto; /* 오른쪽 정렬 */
  justify-content: flex-end; /* 오른쪽 끝에 배치 */
}

.editButton,
.deleteButton {
  background-color: transparent;
  border: none;
  color: #888;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  margin-left: 16px;
}

.editButton:hover,
.deleteButton:hover {
  color: #000;
}

.nickname {
  font-weight: bold;
}

.tier,
.createAt {
  margin-left: 10px;
  color: grey;
}

/* 이미지 컨테이너 */
.imageContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 10px; /* 이미지들 사이 간격 */
  align-items: center;
  
}

.feedImage {
  width: 100%; /* 화면 전체 너비로 설정 */
  max-width: 400px;
  border-radius: 11px; /* 이미지 모서리를 둥글게 설정 */
  object-fit: cover; /* 이미지 비율 유지하면서 컨테이너 채우기 */
}

.content {
  margin-top: 20px;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.footer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.commentInputContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
}

.commentInput {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: #f5f5f5;
}

.commentSubmitButton {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}

.commentSubmitButton:hover {
  background-color: #0056b3;
}

.repliesSection {
  margin-top: 30px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}

.replyItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.replyProfileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* 댓글 프로필 이미지 원형 */
  object-fit: cover;
}

.replyContent {
  margin-left: 10px;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}

.replyAuthor {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.replyAuthor .nickname {
  font-weight: bold;
}

.replyAuthor .tier,
.replyAuthor .createAt {
  margin-left: 10px;
  color: grey;
}
